<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMS PROJECT</title>


    <link type="text/css" rel="stylesheet" href="{% static 'css/studentstyle.css' % }" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/adminstyle.css' % }" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>


<h2 align="center">student academic management system</h2>
<br>
<div style="background-color:lightgrey;padding:20px;font-size:13pt">


<a href="{% url 'studenthome' %}">Home</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'studentchangepwd' %}">Change Password</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'studentcourses' %}">View Courses</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'studentcoursecontent' %}">View Course Content</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'studentlogin' %}">logout</a>&nbsp;&nbsp;&nbsp;
</div>
</p>

<h3 align="right" style="color:red"><i>Welcome {{studentid}}</i></h3>
<br>

{% block 'body' %}
<center>
<div class="card">

  <div class="container" style="color:red">
    <h4><b>{{student.studentid}}{{student.fullname}}</b></h4>
    <p>{{student.department}}</p>
      <p>{{student.year}}-{{student.semester}}</p>
      <p>{{student.email}}</p>
      <p>{{student.contact}}</p>

  </div>
</div>
</center>
{% endblock %}

</body>
</html>